body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("lappi.png");
    background-color: #cccccc;
}

.navbar {
    display: flex; /* enable flexbox on the navbar container */
    justify-content: space-between; /* distribute the links evenly across the navbar */
    font-size: 35px;
} 
#aboutsection {
    position:fixed;
    top: 50px;
    text-align: center;
    position: fixed;
    color: white;
    background-color:black;
    opacity: 50%;
    width: 600px;
    height: 600px;
    border: 2px black solid;
    border-radius: 10px;
    float:right;
}