
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("lappi.png");
    background-color: #cccccc;
   }
   
#box-1 {
    position:fixed;
    top: 50px;
    left: 10px;
    text-align: center;
    position: fixed;
    color: white;
    background-color:black;
    opacity: 50%;
    width: 300px;
    height: 600px;
    border: 2px black solid;
    border-radius: 10px;
    float:right;
}
#box-right {
    position:fixed;
    top: 50px;
    left:880px;
    text-align: center;
    position: fixed;
    color: white;
    background-color:black;
    opacity: 50%;
    width: 600px;
    height: 600px;
    border: 2px black solid;
    border-radius: 10px;
    float:right;
}